.gradient-custom {
  background-image: url("https://as1.ftcdn.net/v2/jpg/04/26/38/52/1000_F_426385269_wGIBSCw3OZYfhCVHfCxUg4mg2rkCadQM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.logocolor {
  background-color: #1f2958;
  color: #fff;
}
