<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Change Password</h3>

            <form> 
              <div class="row">
                <div class="col-md-12 mb-4 pb-2">

                  <div class="form-outline">
                      <label class="form-label" for="email">Email</label>
                      <input type="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" id="email"  name="email" class="form-control form-control-lg" />
                    
                  </div>
                  </div>

                      <div class="col-md-12 mb-4 pb-2">

                          <div class="form-outline">
                              <label class="form-label" for="oldPassword">Old Password</label>
                              <input type="text" id="oldPassword" name="oldPassword" class="form-control form-control-lg" />
                    
                          </div>

                      </div>
                      <div class="col-md-12 mb-4 pb-2">

                          <div class="form-outline">
                              <label class="form-label" for="newPassword">New Password</label>
                              <input type="text" id="newPassword" name="newPassword" class="form-control form-control-lg" />
                    
                          </div>

                      </div>
                      <div class="col-md-12 mb-4 pb-2">

                          <div class="form-outline">
                              <label class="form-label" for="confirmPassword">Confirm New Password</label>
                              <input type="text" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg" />
                    
                          </div>

                      </div>

                

                  <div class="mt-4 pt-2">
                      <input class="btn logocolor btn-lg" type="submit" value="Submit" />
                      <input class="btn btn-danger btn-lg mx-2" type="reset" value="Reset" />
                  </div>  
                  </div>
                            
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
