.black-border {
  border: 1px solid black;
}

app-nav-bar {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 4rem;
  z-index: 100;
}
main {
  position: absolute;
  width: 100%;
  margin-top: 25px;
  top: 4rem;
  z-index: 0;
  border-top: 10px;
  padding: 10px;
}
app-side-bar {
  position: absolute;
  left: 0rem;
  width: 0px;
  background-color: rgba(33, 37, 41, 1);
  z-index: 0;
  height: 100vh;
  cursor: pointer;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  transform: left 250ms ease-in width 250ms ease-in;
}
.app-side-bar-open {
  width: 250px;
  transform: left 250ms ease-in width 250ms ease-in;
}
.display-area-shrink {
  width: calc(100%-250px);
  left: 250px;
  transform: left 250ms ease-in width 250ms ease-in;
}
