.navbar {
  padding: 20px 0;
}

.navbar-brand {
  font-size: 1.5rem; /* Optional: Increase the font size for the brand */
}

.navbar-nav {
  margin-left: auto; /* Align the navbar items to the right */
}

.nav-link {
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.user-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px; /* Adjust the margin as needed */
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  color: #fff; /* Set the text color to white */
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}

.user-dropdown-content a {
  color: #fff; /* Set the text color to white */
  padding: 10px;
  text-decoration: none;
  display: block;
}

.user-dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-dropdown.btn-light {
  border: none;
}

.user-dropdown.btn-light:hover {
  border: none;
}
