<div class="container">
  <section class="my-4">
    <h2>Today's Meal:</h2>
    <div class="row">
      <div class="col-md-5 mb-4">
        <div class="card position-relative">
          <img
            [src]="currentDayMeal.imageSource"
            class="card-img-top"
            alt="Meal"
          />
          <div class="card-body">
            <h5 class="card-title">{{ currentDayMeal.meal }}</h5>
          </div>
        </div>
      </div>

      <div class="col-md-7 mb-4">
        <div class="d-flex gap-3">
          <button
            class="btn btn-custom"
            (click)="openMealDialog()"
            [disabled]="!shouldShowButton"
          >
            Quick Meal
          </button>
          <button class="btn btn-custom" (click)="openDialogbox()">
            Book Meal
          </button>
          <button class="btn btn-custom">Cancel Meal</button>
        </div>
        <mat-card>
          <div class="date-input position-absolute top-0 end-0 p-3 col-md-6">
            <h2>Book My Meal:</h2>
            <mat-card class="demo-inline-calendar-card">
              <mat-calendar
                [(selected)]="selected"
                [dateFilter]="dateFilter"
              ></mat-calendar>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </div>
  </section>
</div>
