<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body class="mt-0">
    <section class="login-content">
      <div class="login-content-lt"></div>
      <div class="login-content-rt">
        <div class="login-box">
          <form class="login-form" action="#">
            <div class="logo-wrapper">
              <img
                src="https://i.pinimg.com/736x/a8/d1/9b/a8d19bfb6d5172adc87d65908c69137a.jpg"
                alt="Rishabh Software"
              />
              <span>Meal Facility</span>
            </div>
            <br />
            <br />
            <br />
            <h3 class="login-head">Forgot Password?</h3>

            <div class="form-group">
              <div class="input-addon">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Old password"
                  autofocus
                />
                <div class="icon-after icon-green">
                  <i class="icon-check"></i>
                </div>
              </div>
              <br />
            </div>
            <div class="form-group">
              <div class="input-addon">
                <input
                  class="form-control"
                  type="text"
                  placeholder="New password"
                  autofocus
                />
                <div class="icon-after icon-green">
                  <i class="icon-check"></i>
                </div>
              </div>
              <br />
            </div>
            <div class="form-group">
              <div class="input-addon">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Confirm password"
                  autofocus
                />
                <div class="icon-after icon-green">
                  <i class="icon-check"></i>
                </div>
              </div>
              <br />
            </div>

            <div class="form-group btn-container">
              <button class="btn btn-xl btn-primary">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
