@charset "UTF-8";

img,
svg {
  height: 70px;
  width: 70px;
}

.mt-0 {
  margin-top: 0 !important;
}

body {
  background-color: #fff;
  margin: 85px auto 0 auto;
  width: 100%;
}

.login-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.login-content .login-content-rt {
  flex: 0 0 35%;
  width: 35%;
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #666b7a rgba(33, 37, 41, 0);
}

.login-content .login-content-lt {
  flex: 0 0 65%;
  width: 65%;
  background-size: cover !important;
  height: 100vh;
  position: relative;

  background: url("https://img.freepik.com/premium-photo/cropped-shot-attractive-woman-enjoying-delicious-salad-created-with-generative-ai_762026-8410.jpg")
    no-repeat top center;
}

.login-content .login-content-rt .login-box .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 48px;
}
.login-content .login-content-rt .login-box .logo-wrapper span {
  color: #eda670;
  font-size: 34px;
  font-weight: 700;
}

.login-content .login-content-rt .login-box .login-head {
  margin-top: 0;
  margin-bottom: 22px;
  color: #000;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
}

.login-content .login-content-rt .login-box .login-text {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}

.login-content .login-content-rt .login-box .form-group {
  margin-bottom: 30px;
}

.login-content .login-content-rt .login-box label {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}

.login-content .login-content-rt .login-box .form-control {
  border: 1px solid #c9c9c9;
  height: 57px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  padding: 6px 12px 6px 24px;
}

.checkbox__title {
  order: 2;
  padding-left: 10px;
  line-height: 1.2;
}

.custom-checkbox {
  display: flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  justify-content: flex-start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 50px;
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.btn-xl {
  height: 58px;
  padding: 7px 20px;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 1px solid;
}

.btn:hover {
  background-color: green-700;
}

.login-content .login-content-rt .login-box .btn-container .btn {
  width: 100%;
}

.eye-button {
  border: none;
  background: none;
  position: relative;
  top: -38px;
  margin-left: 290px;
}
