.container {
    text-align: center; /* Center-align content */
  }
  
  .buttons {
    margin-bottom: 20px; /* Add spacing between buttons and date input */
  }
  
  .date-input {
    margin-top: 20px; /* Add spacing above the date input */
  }
  
  /* Additional styles for the date input */
  .date-input input[type="date"] {
    padding: 5px; /* Adjust padding */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add border radius */
    width: 200px; /* Adjust width */
  }
  
  .date-input{
    position: RELATIVE;
    bottom: 720px;
    left: 5%;
    transform: translateX(50%);
  }

  .date-input input[type="date"] {
    padding: 10px; /* Adjust padding */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 6px; /* Add border radius */
    width: 250px; /* Adjust width */
    height: 40px; /* Adjust height */
    font-size: 16px; /* Adjust font size */
  }

  .demo-inline-calendar-card {
    width: 600px;
  }

  .mat-calendar {
    background-color:#A2E4B8/* Change background color */
  }