<div class="p-3">
  <div *ngIf="isBookingsVisible; else elseBlock">
    <h2>Booking History:</h2>
    <div style="height: 30rem">
      <div
        *ngFor="let booking of bookings"
        class="booking-details d-flex justify-content-between px-5"
      >
        <div class="">
          <p>{{ booking.date }}</p>
          <p>{{ booking.time }}</p>
          <p>{{ booking.meal }}</p>
        </div>
        <div class="d-flex gap-2">
          <div>
            <button class="cancelbtn rounded-pill">Cancel</button>
          </div>
          <div>
            <button
              class="qrbutton rounded-pill"
              [disabled]="isButtonDisabled"
              (click)="toggleQR()"
            >
              Redeem
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <h2>Coupon QR-Scan:</h2>
    <div class="qrContainer" [innerHTML]="qrImage"></div>
    <p class="timer" *ngIf="isButtonDisabled">
      {{ remainingMinutes }} : {{ remainingSeconds }}
    </p>
  </ng-template>
</div>
