.footer {
  background-color: rgba(33, 37, 41, 1);
  position: absolute;
  width: 100%;
}

.footerContainer {
  width: 100%;
  padding: 10px 11px 8px;
}

.socialicons {
  display: flex;
  justify-content: center;
}

.socialicons a {
  text-decoration: none;
  padding: 9px;
  background-color: rgba(127, 115, 187, 0.2);
  margin: 9px;
  border-radius: 50%;
}
.socialicons a i {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.55);
  opacity: 0.9;
}

.socialicons a:hover {
  transition: 0.5s;
}

.socialicons a i:hover {
  color: white;
}

.footernav {
  margin: 13px 0;
}

.footernav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footernav ul li a {
  color: rgba(255, 255, 255, 0.55);
  margin: 19px;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0.7;
  transition: 0.5s;
}

.footernav ul li a:hover {
  opacity: 2;
  color: white;
}

.footerbottom {
  background-color: rgba(33, 37, 41, 1);
  padding: 1px;
  text-align: center;
}

.footerbottom p {
  color: rgba(255, 255, 255, 0.55);
}
