<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Rishabh-Software</p>
        </div>
        <div class="col-md-6 text-md-right">
          <p><img src="https://i.pinimg.com/736x/a8/d1/9b/a8d19bfb6d5172adc87d65908c69137a.jpg" alt="MyMeal" height="50px" width="50px"> Meal Facility App</p>
        </div>
      </div>
  
      <!-- Additional Links -->
      <div class="row mt-3">
        <div class="col-md-6">
          <a href="#" class="text-white">Privacy Policy</a>
          <span class="mx-2">|</span>
          <a href="#" class="text-white">Terms of Service</a>
        </div>
        <div class="col-md-6 text-md-right">
          <a href="#" class="text-white">Contact Us</a>
          <span class="mx-2">|</span>
          <a href="#" class="text-white">FAQ</a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <a href="#" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
        <div class="col-md-6 text-md-right">
          <a href="#" class="text-white"><i class="fab fa-linkedin-in fa-lg"></i></a>
          <a href="#" class="text-white mx-2"><i class="fab fa-github fa-lg"></i></a>
          <a href="#" class="text-white"><i class="fab fa-youtube fa-lg"></i></a>
        </div>
      </div>
    </div>
  </footer>
  
